table{
	background: pink;
}
table{
	font-size: 20px;
}
table{
	Background: Yellow;
	margin-left: 650px;
	position: center;
}
button{
	position: center;
}
body{
    background: orange
        
}
h1{
    text-align: center;
    background: pink;
}